body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2D9596;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;

}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/currenccy img.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.070; /* Adjust opacity as needed */
    z-index: -1; /* Push the pseudo-element behind other content */
}
.converter {
    background-color: #E1F7F5;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.5);
}


.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.converter select, .converter input[type="number"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}
.converter button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.converter button:hover {
    background-color: #0056b3;
}

.countryname{
    font-weight: bolder;
}
.result{
    display: block;
    margin-top: 1rem;
}

#convertedAmount{
    font-weight: bolder;
    margin-left: 3rem;
    height: 2rem;
}

.footer{
    font-size: 1.5rem;
    color: rgb(13, 13, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .converter {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 80%; /* Example: reduce width for smaller screens */
    }
}


